<html>
<head>
<title>iCCup Leaderboard</title>
<link rel=stylesheet href="../static/leader.css">
</head>
<body>
<h1>iCCup Leaderboard</h1>
<p>Last updated at $last_crawl.</p>
<p><a href="http://innovation.isotropic.org/leaderboard/">
Layout from isotropic Innovation leaderboard.</a>

<p>
<table>
<tr><th></th><th>skill range</th><th>rank</th><th>games</th><th>nickname</th>
<th>race</th><th>iCCup rank</th><th>win-loss</th><th>last crawl</th>
</tr>

#for $player in $players

#if $player.is_header
<tr class=level><td class=level>Level $player.level</td>
#elif $player.is_remind
<tr><td class=lremind>Level $player.level</td>
#else
<tr><td></td>
#end if

<td>$player.mu &plusmn; $player.uncertainty</td><td class=c2>$player.rank</td>
<td class=c>$player.games</td>
<td><a href="http://www.iccup.com/starcraft/gamingprofile/${player.nick}.html">$player.name</a></td>
<td>$player.race</td>
<td class=$player.iccup_class>$player.iccup_letter</td>
<td>$player.wins-$player.losses</td>
<td>$player.last_crawl</td>
</tr>

#end for

</table>
</body>
</html>
